{% extends "layout.html" %}
{% block content %}


<br>
    <div class="container">
        <h2 style="text-align:center">Faithful Eruptions</h2>
    <br>
    <div class="row">
        <div class="col">
            <h5 style="text-align:center">Eruption Length vs Wait Time</h5>
        </div>
    </div>
        <div>
            <p style="text-align:center">This chart displays 50 data points of Ol' Faithful's eruptions. The x axis shows the length of the eruption while the y axis shows the wait time in between eruptions. Click on the legend to toggle the data on or off!</p>
        </div>
    <div class="row">
        <div class="col">
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
            <canvas id="myChart" width="800" height="400" style="text-align: center;"></canvas>
            <script style="text-align:center">
                Chart.defaults.global.responsive = true;
                const chartData01 = {
                    labels:[{% for item in eruption_labels %}
                    "{{item}}",
                    {% endfor %}],
                    datasets : [{
                        label: '{{ eruption_legend }}',
                        data : [{% for item in eruption_values %}
                        {{item}},
                        {% endfor %}],
                        backgroundColor: 'rgb(255, 99, 132)'
                    }]
                }
                const chart1 = document.getElementById("myChart").getContext("2d");
                const myChart = new Chart(chart1, {
                    type: 'line',
                    data: chartData01,
                    options: {
                    scales: {
                      x: {
                        type: 'line',
                        position: 'bottom'
                      }
                    }
                  }
                });
            </script>
        </div>
    </div>
</div>
<br>
{% endblock %}