{% extends "layout.html" %}
{% block content %}
<body style=" background-color: floralwhite">
<div class="container" style="color:darkred">
    <h1>History of Old Faithful</h1>
    <p>Old Faithful  is one of over 500 geysers at Yellowstone National Park in Wyoming. Since 2000, Old faithful has erupted consistently every 45 mins to 2 hours! These eruptions range in height anywhere from 100 ft to nearly 200 ft! </p>
    <p>This applications allows you to see some data behind Old Faithful's eruptions. In the charts tab, you can see a comparison of how long the geyser erupts for vs how long in between each eruption. Below you will find a table with more than 250 data points!</p>
    <a href="https://www.nps.gov/yell/planyourvisit/exploreoldfaithful.htm">Click here to learn more about Old Faithful and its rich history!</a>
    <p>The link above also has a livestream for you to enjoy!</p>
</div>
<br>
<div class="container">
<h1 style="color:darkred">Eruption Data Table</h1>
<table class="table" style="color:darkred">
    <thead>
    <tr>
        <th scope="col">Index</th>
        <th scope="col">Eruption Length (Mins)</th>
        <th scope="col">Eruption Wait (Mins)</th>
    </tr>
    </thead>
    <tbody>
    {% for index in faithful %}
    <tr>
        <td><a href="/view/{{index.id}}">{{ index.fldIndex }}</a></td>
        <td>{{ index.fldEruptionLengthInMins }}</td>
        <td>{{ index.fldEruptionWaitInMins }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</body>
{% endblock %}