{% extends "layout.html" %}
{% block content %}
<body style=" background-color: floralwhite">
<table class="table" style="color:darkred">
    <thead>
    <tr>
        <th scope="col">Index</th>
        <th scope="col">Eruption Length (Mins)</th>
        <th scope="col">Eruption Wait (Mins)</th>
    </tr>
    </thead>
    <tbody>
    {% for index in faithful %}
    <tr>
        <td><a href="/view/{{index.id}}">{{ index.fldIndex }}</a></td>
        <td>{{ index.fldEruptionLengthInMins }}</td>
        <td>{{ index.fldEruptionWaitInMins }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
{% endblock %}