{% extends "layout.html" %}
{% block content %}
<body style=" background-color: floralwhite;color:darkred">
<form action="/faithful/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="fldIndex">Index</label>
            <input id="fldIndex" type="number" class="form-control" placeholder="Index" name="fldIndex">
        </div>
        <div class="col">
            <label for="fldEruptionWaitInMins">EruptionWaitInMins</label>
            <input id="fldEruptionWaitInMins" type="text" class="form-control" placeholder="EruptionWaitInMins"
                   name="fldEruptionWaitInMins">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldEruptionLengthInMins">EruptionLengthInMins</label>
            <input id="fldEruptionLengthInMins" type="text" class="form-control" placeholder="EruptionLengthInMins" name="fldEruptionLengthInMins">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Create</button>

</form>
</body>
{% endblock %}